<link
  href="https://fonts.googleapis.com/css?family=Lato:400,300,700"
  rel="stylesheet"
  type="text/css"
/>
<div class="container">
  <div class="header">
    <div class="full-name">
      <span class="first-name">Luca</span>
      <span class="last-name">Jank</span>
    </div>

    <div class="about">
      <span class="position">Software Engineer</span>
      <span class="desc">
        Ich bin Informatik-Absolvent mit großem Interesse an Software Engineering,
        Data Science sowie den Schnittstellen zwischen Software und Kunden.
      </span>
    </div>
  </div>
  <div class="details">
    <div class="section">
      <div class="section__title">Erfahrung</div>
      <div class="section__list">
        <div class="section__list-item">
          <div class="left">
            <div class="name">Rimit GmbH</div>
            <div class="addr">Stuttgart, Baden-Württemberg, DE</div>
            <div class="duration">01.09.2023 - 28.02.2024</div>
          </div>
          <div class="right">
            <div class="name">Praktikant Software Engineer</div>
            <div class="desc">
              Arbeit geleistet an Ideenfindung, Konzeption, Requirements
              Engineering, und Softwareentwicklung von einer Notfallplan-App.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="section__title">Akademische Laufbahn</div>
      <div class="section__list">
        <div class="section__list-item">
          <div class="left">
            <div class="name">Hochschule für Technik Stuttgart</div>
            <div class="duration">
              Oktober 2020 - (voraussichtlich) Januar 2025
            </div>
          </div>
          <div class="right">
            <div class="name">
              Bachelor of Science in Informatik
            </div>
            <div class="desc">
              Informatikstudium an einer Hochschule mit Praxisbezug. Durchschnittsnote: 1,8
            </div>
          </div>
        </div>
        <div class="section__list-item">
          <div class="left">
            <div class="name">Gewerbliche Schule Waiblingen</div>
            <div class="duration">03.09.2017- 30.07.2020</div>
          </div>
          <div class="right">
            <div class="name">Allgemeine Hochschulreife</div>
            <div class="desc">
              Profilfach Informationstechnik. Durchschnittsnote: 1,5
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="section__title">Projekte</div>
      <div class="section__list">
        <div class="section__list-item">
          <div class="name">Portfolio Website</div>
          <div class="text">
            Die Website, auf welcher Sie sich gerade befinden! Dieses Projekt wurde von
            mir zur Einarbeitung in das Framework Angular entwickelt.
          </div>
          <br>
          <div class="name">Temperatursensor Arduino + App + REST API</div>
          <div class="text">Zu der Vorlesung IoT (Internet of Things) habe ich zusammen mit einer kleinen Gruppe von anderen Studenten einen Arduino mit einem Temperatursensor konfiguriert und programmiert, welcher die Temperaturdaten an eine selbst entwickelte REST API gesendet hat.
            Diese Temperaturdaten wurden dann dann von einer selbst entwickelten App ausgelesen und visualisiert. 
          </div>
          <br>
          <div class="name">Cross-platform Breakout-Style mobile Videospiel</div>
          <div class="text">Als Prüfungsleistung im Fach "Softwareprojekt 2" hat der gesamte Studienjahrgang zusammen ein Cross-Platform Mobile Videospiel entwickelt. Dies ist ein Breakout-Style Videospiel, d.h. man hat als Spieler ein "Paddle",
            also einen bewegbaren dünnen Strich, gesteuert, womit man einen Ball abprellen kann, welcher Blöcke in der oberen Bildschirmhälfte zerstören kann. Ziel des Spiels ist es, 
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="section__title">Skills</div>
      <div class="skills">
        <div class="skills__item">
          <div class="left"><div class="name">Javascript/Typescript</div></div>
          <div class="right">
            <input id="ck1" type="checkbox" checked />

            <label for="ck1"></label>
            <input id="ck2" type="checkbox" checked />

            <label for="ck2"></label>
            <input id="ck3" type="checkbox" checked />

            <label for="ck3"></label>
            <input id="ck4" type="checkbox" />
            <label for="ck4"></label>
            <input id="ck5" type="checkbox" />
            <label for="ck5"></label>
          </div>
        </div>
        <div class="skills__item">
          <div class="left"><div class="name">CSS</div></div>
          <div class="right">
            <input id="ck1" type="checkbox" checked />

            <label for="ck1"></label>
            <input id="ck2" type="checkbox" checked />

            <label for="ck2"></label>
            <input id="ck3" type="checkbox" checked />

            <label for="ck3"></label>
            <input id="ck4" type="checkbox" />
            <label for="ck4"></label>
            <input id="ck5" type="checkbox" />
            <label for="ck5"></label>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="section__title">Interessen</div>
      <div class="section__list">
        <div class="section__list-item">
          Schach spielen, Rock-Musik
        </div>
      </div>
    </div>
  </div>
</div>
