<div
  ngbNav
  #nav="ngbNav"
  [(activeId)]="active"
  class="nav-pills"
  orientation="vertical"
>
  <ng-container class="pill-container" ngbNavItem="home">
    <button
      [routerLink]="['/home']"
      class="pill"
      ngbNavLink
      (click)="activeOffCanvas.dismiss('homepage')"
    >
      Homepage
    </button>
    <ng-template ngbNavContent>
      <p>Text1</p>
    </ng-template>
  </ng-container>
  <ng-container class="pill-container" ngbNavItem="cv">
    <button
      [routerLink]="['/cv']"
      ngbNavLink
      class="pill"
      (click)="activeOffCanvas.dismiss('cv')"
    >
      Lebenslauf
    </button>
  </ng-container>
</div>
