<div class="homepage">
  <div class="homepageHeader">
    <div class="homepageHeaderbackground"></div>
    <h1>Portfolio von Luca Jank</h1>
  </div>
  <div class="homepageText">
    Diese Seite dient als Vorzeigeprojekt und bietet meinen Lebenslauf als Download an.
  </div>
  <div class="homepageButtons">
    <button [routerLink]="['/cv']" class="btn btn-primary buttonWeitereSeiten">
      Zum Lebenslauf
    </button>
  </div>
  <div class="homepageButtons">
    <button class="btn btn-primary buttonWeitereSeiten">
      Lebenslauf herunterladen
    </button>
  </div>
</div>
